<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">


body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: green;
}



.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
    background-color:red!imp;
}

.card 
{
   
    background-color:#eee!important;

}

.text-info {
   
    background-color: orange !important;

}  


