
body {
  background-color: blue;
}
h1 {
  color: yellow;
}
p {
  color: red;
}



.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
    background-color:red!imp;
}

.card 
{
   
    background-color:#eee!important;
 
}
 
.text-info {
   
    background-color: orange !important;

}  





